package user

templ Login() {
	<div>
		<form method="post" action="/user/login">
			<label>
				User name:
				<input type="text" name="username" value="" placeholder="Insert user name"/>
			</label>
			<label>
				Password:
				<input type="password" name="password" value="" placeholder="Insert password"/>
			</label>
			<input type="submit" value="AAA" />

			<div>
			    <a href="/user/register">Register new account</a>
			</div>
		</form>
	</div>
}
